body {
    color: #000;
    font-family: 'Karla', sans-serif;
    background-color: #d0d0d0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* font-family: 'Karla', sans-serif; */
/* font-family: 'Kumbh Sans', sans-serif; */

.container {
    max-width: 800px;
    margin: 0 auto;
}
.header__title {
    background: linear-gradient(227deg, #62FA2D 0%, #69BFB5 0.01%, #8FCD79 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    display: block;
    color: #fff;
    z-index: 2;
}
.header__list {
    display: flex;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header__list-item {
    padding: 0 30px;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.header__list-item__active::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #8FCD79;
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form__input {
    width: 677px;
    padding: 10px 5px;
    
}
.form__button {
    background-color: #8CB5F2;
    padding: 7px 30px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    cursor: pointer;
}
.form__button:hover {
    border: 1px solid #5b5b5b;
}


.task__list {
    padding: 12px 9px;
    background-color: #fff;
    
}
.task__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    justify-content: space-between;
}
.task__block {
    display: flex;
    align-items: center;
}
.task__checkbox {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 20px;
}

.setting__bar {
    color: #000;
}

.section__filter {
    text-align: right;
}
.filter {
    margin-bottom: 20px;
    width: 50px;
    margin-right: 0;
    margin-left: 515px;
    margin-bottom: 0;
    cursor: pointer;
}
.filter_active::after {
    content: "";
    width: 50px;
    height: 100px;
    background-color: red;
    display: block;
}
.filter__list {
    display: none;
}
.filter__list_active {
    display: block;
    position: absolute;
    right: 0;
}
.task__text_active {
    text-decoration: line-through;
}